<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475407921625-6k7gjborfh0nbhj81uh1gpeo6c1jradp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475407921625-6k7gjborfh0nbhj81uh1gpeo6c1jradp</string>
	<key>API_KEY</key>
	<string>AIzaSyA5tkYhNnjXS901l6Evns50YV9fFEUCz28</string>
	<key>GCM_SENDER_ID</key>
	<string>475407921625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gf.thebeautyapp</string>
	<key>PROJECT_ID</key>
	<string>flawless-96bf0</string>
	<key>STORAGE_BUCKET</key>
	<string>flawless-96bf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475407921625:ios:e6c759a319dc21ac</string>
	<key>DATABASE_URL</key>
	<string>https://flawless-96bf0.firebaseio.com</string>
</dict>
</plist>