<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890607531368-qlv1o9eah9m6jg9nu83gi5f2m5ljncpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890607531368-qlv1o9eah9m6jg9nu83gi5f2m5ljncpl</string>
	<key>API_KEY</key>
	<string>AIzaSyByOaOPhMzHfbiJvhrUH-Poysk52voSMzs</string>
	<key>GCM_SENDER_ID</key>
	<string>890607531368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gf.thebeautyapp</string>
	<key>PROJECT_ID</key>
	<string>flawless-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flawless-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890607531368:ios:e6c759a319dc21ac</string>
	<key>DATABASE_URL</key>
	<string>https://flawless-dev.firebaseio.com</string>
</dict>
</plist>